.c1{ margin-left: 700px;
   display: flex;
}
.c6{margin-left: 50px;}

.c2{  text-align: center; }

.c3{margin-left: 100px;margin-top: 20px;}

.c4{height: 30%;width: 30%;}

.C5 { rotate: 10PX;}

.container {
   position: relative;
   width: 50%;
 }
 
 .image {
   opacity: 1;
   display: block;
   width: 90%;
   height: 80%;
   transition: .5s ease;
   backface-visibility: hidden;
 }
 
 .middle {
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
 }
 
 .container:hover .image {
   opacity: 0.3;
 }
 
 .container:hover .middle {
   opacity: 1;
 }
 
 .text {
   background-color: #04AA6D;
   color: white;
   font-size: 16px;
   padding: 16px 32px;
 }




 .c9:hover {
   -webkit-transform: scaleX(-1);
   transform: scaleX(o.4);
 }
 .c10{
  margin-left: 200px;font-family: 'Gloock', serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Prompt', sans-serif;
  font-family: 'Space Mono', monospace;
 }
 .c11{text-align: center;}
 .c12{
  border-radius: 70%;height: 150px;width: 150px;
 }

 .c13{margin-left: 250px;}
 .c14{
  border-radius: 70%;height: 200px;width: 200px;
 }

.c15{ margin-left: 400px;}
.c16{margin-left: 100px;}

.c18:hover{cursor: pointer;
  transition: 1.00s;
  transform: scale(1.1);
  overflow: hidden; 
}
.main{
  height: 100vh;
  background-size: cover;
  background-position: center;transition: 0.6 ease;opacity: 50%;

}
.c20 {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: +1;
}
.c21{ color: white;font-weight: 400;}


.parallax {

  background-image: url("ff.2.webp");


  min-height: 500px;


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
